/* Body */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-size: cover;
	height: 100%;
	width: auto;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #2e2e2e;
	padding: 0;
	margin: 0;
}



.hide {
	display: none;

}

.show {
	display: block;

}



/* Container */
.container {

	position: relative;
	top: 0px;
	margin: 0;
	padding: 0;
	background: #16222A;
	animation: landing 4s linear 1;
	transition: 2s;
}

/* Header */
.header {
	position: fixed;
	z-index: 511;
	text-align: left;
	background-color: #0d273e;
	font-family: 'Paytone One', sans-serif;
	height: 70px;
	width: 100%;
	/*    border-radius: 0px 0px 40px 0px; */
}

.logo {
	color: #fff;
	font-weight: bold;
	padding-left: 20px;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: left;
	padding-top: 15px;
	line-height: 2em;
	font-size: 19px;
	/*    text-align: center;*/


}



.socialicon {
	width: 50px;
	z-index: 999;
	text-decoration: none;


}

.socialicon:hover {
	filter: invert(100);
	transition: 1.3s;
}

a:link {

	text-decoration: none;
	color: transparent;
}

#demo {
	color: aliceblue;
	font-size: 25px;
}

.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}

/* About Section */
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}


.gallery {
	clear: both;
	display: inline-block;
	width:auto;
	padding: 0px;


}

.gal {
	padding-top: 55px;;
}


.gal:hover{
	/*   filter: blur(10px);*/
	opacity: .4;
}

.thumbnail:hover {
	/*    filter: blur(0);*/
	opacity: 10;
}

.thumbnail {
	width: 23%;
	height: 320px;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom: 4px solid #6DC7D0;
	transition: 1s;
	border-radius: 20px;
	position: relative;
	display: inline-block;

}

.thumbnail:hover {
	box-shadow: 0px 0px 20px 0px black, 0px 0px 30px 0px, 0px 0px 40px 0px black;
	padding-bottom: 25px;
	padding-top: 15px;
	transition: 1s;
	z-index: 2;
}

.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #52BAD5;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}

/* More info */



.intro:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;

	display: block;
	/*	background-image: url(../images/blue-1634110.png);*/
	/*     animation: intro 50s linear infinite;*/

	background-size: cover;
	border-radius: 0px 50% 0px 0px;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
}


.intro {

	left: 0;
	right: 0;
	z-index: 444;
	filter: none;
	position: relative;

	background: #16222A;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3A6073, #16222A);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3A6073, #16222A);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 100% 100%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	height: 100vh;



}



.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 20%;
	text-align: center;
}




.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	position: relative;
	top: 0;
	color: white;
	display: block;
	transition: 0.3s;
	/*
    
    font-family: 'Righteous', cursive;
*/
	/*font-family: 'Fredoka One', cursive;*/
	font-family: 'Paytone One', sans-serif;

}

/*
.sidenav a:hover {
    color: #f1f1f1;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    transition: 1s;
    text-shadow: 0px 0px 100px white;
}
*/


.sidenav:hover a {
	/*   filter: blur(10px);*/
	opacity: 1;
}

.sidenav a:hover {
	/*    filter: blur(0);*/
	opacity: 10;
	color: #f1f1f1;
	font-size: 30px;
	font-family: 'Fredoka One', cursive;
	transition: 1s;
	text-shadow: 0px 0px 100px white;
	animation: nav 3s ease-in-out infinite;

}

@keyframes nav {

	0% {
		text-shadow: 0px 0px 33px cadetblue;
	}

	20% {
		text-shadow: 0px 0px 33px deeppink;
	}

	30% {
		text-shadow: 0px 0px 33px darkblue;
	}

	40% {
		text-shadow: 0px 0px 33px mediumseagreen;
	}

	50% {
		text-shadow: 0px 0px 33px mediumslateblue;
	}

	60% {
		text-shadow: 0px 0px 33px blanchedalmond;
	}

	100% {
		text-shadow: 0px 0px 33px dodgerblue;
	}
}


.sidenav .closebtn {
	position: absolute;
	top: 30px;
	right: 25px;
	font-size: 36px;

}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
		top: 20%;

	}
}

.column {
	width: 49%;
	text-align: center;
	padding-top: 30px;
	float: left;

}



@keyframes landing {

	0% {
		opacity: 0.1;
		/*
        visibility: hidden;
        transform: translate(-333px);
*/
	}

	20% {

		opacity: 0.3;
	}

	40% {

		opacity: 0.5;
	}

	60% {

		opacity: 0.7;
	}

	80% {

		opacity: 0.8;
	}


	100% {
		/*
        visibility: visible;
        transform: none;
*/
		transition: 2s;
		opacity: 1;
	}
}

.column p::first-letter {
	font-size: 33px;
}

.intro .column h3 {
	color: #FFFFFF;
	text-align: center;
}

.intro .column p {
	color: #FFFFFF;
}

.cards {
	width: 80%;
	height: 150px;
	opacity: 0.8;
	padding: 5px;
	border: 1px solid red;
}


.img-top {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	height: auto;
	transition: 1s;
}

.thumbnail:hover .img-top {
	display: inline;
	opacity: 10;
	padding-left: 10px;
	height: 80%;
	width: 96%;
	padding-top: 20px;
	border-radius: 100px;
	cursor: pointer;
	transition: 1s;
}



.intro .column p {
	/*    padding-left: 30px;*/
	/*    padding-right: 30px;*/
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	width: 90%;
	margin-top: 4%;
}

.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}

.button:hover {
	background-color: #6DC7D0;
	color: #FFFFFF;
	cursor: pointer;
}

.copyright {
	text-align: center;
	background-color: gray;
	color: black;
	padding: 10px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	border-radius: 10px;
}

footer {}

.intro {
	display: inline-block;
	background-color: #6DC7D0;

}

.profile {
	width: 60%;
}

.gallery .thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}



.header {
	/*    background-color: brown;*/
	font-family: 'Paytone One', sans-serif;
	/*    height: 40px;*/

}

.btnn {
	text-align: center;
	width: 100%;
	background-color: transparent;
}







.nav {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 679;
	font-size: 20px;
	color: white;
	cursor: pointer;
	text-align: center;
}

.contai {
	position: absolute;
	top: 0%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, 10%);
	box-shadow: 0px 0px 12px 0px;
	top: 80px;
	width: 50%;
	padding: 15px;
	background-color: white;
	border-radius: 10px;
}

.contt {
	height: 100vh;
	display: flex;
	align-items: center
}

/* Full-width input fields */
input[type=text],
input[type=tel],
textarea {
	width: 96%;
	padding: 15px;
	margin: 5px;
	color: white;
	border: none;
	background: #010101;
	border-radius: 0px 100px 100px 100px;
}

input[type=text]:focus,
input[type=tel]:focus {
	background-color: #ddd;
	outline: none;
	color: black;

}



/* Set a style for the submit button */
.btn {
	background-color: darkblue;
	color: white;
	padding: 16px 20px;
	border-radius: 100px 100px 300px 300px;
	border: none;
	cursor: pointer;
	position: relative;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.9;
}

.btn:hover {
	opacity: 1;
}

form {}

/* Mobile */
@media (max-width: 320px) {
	.logo {
		width: 100%;
		/*        text-align: center;*/
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}

	.gallery {
		clear: both;
		display: inline-block;
		width: 100%;

	}

	.socialicon {
		width: 30px;
	}

	.text_column {
		width: 100%;
		text-align: justify;
		padding: 0;
	}

	.intro .column p {
		width: 80%;
		margin-left: 0;
	}

	.text_column {
		padding-left: 20px;
	}

	.thumbnail {
		width: 98%;
	}

	.column {
		width: 100%;
		margin-top: 0;


	}

	.hero_header {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}

	.intro {
		height: auto;
	}

	.contt {
		height: 100%;

	}

	.contai {
		/*
        position: relative;
        left: 0%;
        transform: translateX(0%);
*/
	}

	.sidenav a {
		font-size: 18px;
		top: 20%;

	}

	.contai {
		position: absolute;
		top: 0%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, 10%);
		box-shadow: 0px 0px 12px 0px;
		top: 80px;
		width: 70%;
		padding: 15px;
		background-color: white;
		border-radius: 10px;
	}

	.contt {
		height: 100vh;
		display: flex;
		align-items: center
	}

	/* Full-width input fields */
	input[type=text],
	input[type=tel],
	textarea {
		width: 85%;
		padding: 15px;
		margin: 5px;
		color: white;
		border: none;
		background: #010101;
		border-radius: 0px 100px 100px 100px;
	}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {


	.intro {


		height: 100%;
	}

	.logo {

		width: 100%;
		/*        text-align: center;*/
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;

	}

	.logo:hover {
		transition: 1s;
		text-shadow: 0px 0px 100px white;
		font-size: 20px;
	}

	.contt {
		height: 100%;
	}

	.contai {
		/*
        position: relative;
        left: 0%;
        transform: translateX(0%);
*/
	}

	.gallery {
		clear: both;
		display: inline-block;
		width: 100%;
		margin: 0;
	}

	.socialicon {
		width: 30px;
	}

	.text_column {
		width: 100%;
		text-align: left;
		padding: 0;
	}

	.thumbnail {
		width: 98%;
	}

	.column {
		width: 100%;
		margin-top: 0;


	}

	.thumbnail {
		width: 80%;
		position: relative;
		left: 10%;
	}

	.text_column {
		padding-left: 20px;
		padding-right: 20px;
		width: 90%;
	}

	.column {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

	}

	.contt {
		height: 100%;
	}

	.profile {
		width: 40%;
	}

	.intro .column p {

		text-align: center;
		padding-left: 0;
	}

	.sidenav a {
		font-size: 18px;
		top: 20%;

	}

	.contai {
		position: absolute;
		top: 0%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, 10%);
		box-shadow: 0px 0px 12px 0px;
		top: 80px;
		width: 70%;
		padding: 15px;
		background-color: white;
		border-radius: 10px;
	}

	.contt {
		height: 100vh;
		display: flex;
		align-items: center
	}

	/* Full-width input fields */
	input[type=text],
	input[type=tel],
	textarea {
		width: 85%;
		padding: 15px;
		margin: 5px;
		color: white;
		border: none;
		background: #010101;
		border-radius: 0px 100px 100px 100px;
	}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {

	.intro {


		height: 100%;
	}

	.text_column {
		width: 100%;
	}

	.gallery {
		clear: both;
		display: inline-block;
		width: 100%;
		margin: 0;
	}

	.socialicon {
		width: 30px;
	}

	.thumbnail {
		width: 48%;
	}

	.text_column {
		width: 90%;
		margin: 0;
		padding: 20px;
	}

	.intro .column p {
		width: 80%;
	}

	.sidenav a {
		font-size: 18px;
		top: 20%;

	}

	.contai {
		position: absolute;
		top: 0%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, 10%);
		box-shadow: 0px 0px 12px 0px;
		top: 80px;
		width: 70%;
		padding: 15px;
		background-color: white;
		border-radius: 10px;
	}

	.contt {
		height: 100vh;
		display: flex;
		align-items: center
	}

	/* Full-width input fields */
	input[type=text],
	input[type=tel],
	textarea {
		width: 85%;
		padding: 15px;
		margin: 5px;
		color: white;
		border: none;
		background: #010101;
		border-radius: 0px 100px 100px 100px;
	}
}

.portfolio_url {
	text-align: center;
	background-color: brown;
	color: wheat;
	position: relative;
	float: left;
	left: 20px;
	font-size: 15px;
	font-family: sans-serif;
	cursor: pointer;
	border: none;
	padding: 10px;
	border-radius: 10px;
}
